@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-cinematic-light bg-cinematic-black;
    overflow-x: hidden;
  }
}

.font-display {
  font-family: 'Cormorant Garamond', serif;
}

/* Custom easing for smooth reveals */
.ease-cinematic {
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Utilities */
.text-shimmer {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
}